* {
    box-sizing:border-box;
}

body {
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
    min-height:100vh;
    background-color:#f1f1f1;
}

.container {
    flex:1;
    text-align:center;
    margin:0;
    padding:1rem;
}

header {
    background:linear-gradient(to top, lightgrey, darkgrey);
    padding:1rem;
    width:100%;
    margin:0;
    text-align:center;
}

header :is(h1, img) {
    display:inline-block;
    margin:0;
    padding:0;
}

header img {
    width:clamp(1rem, 2vw + 1rem, 2rem);
    aspect-ratio:2/2.5;
    vertical-align:sub;
}

h2 {
    text-align:center;
    margin:0;
    padding:1rem;
}

.text {
    border:2px solid grey;
    border-radius:1rem;
    padding:1rem;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    overflow:auto;
}

input {
    width:80%;
    min-width:200px;
    max-width:800px;
    padding:1rem;
    border:2px solid black;
    border-radius:1rem;
    font-size:1rem;
}

#addbut {
    padding:1rem;
    border:2px solid black;
    border-radius:1rem;
    cursor:pointer;
}

#addbut:hover {
    background-color:darkgrey;
    font-weight:bold;
}

.todotask {
    margin:1rem auto;
    background:linear-gradient(to top, lightgrey, darkgrey);
    border-radius:1rem;
    padding:1rem;
    font-size:1.5rem;
}

.todotask img {
    width:1.5rem;
    aspect-ratio: 1/1;
    vertical-align:middle;
}

.dis {
    display:inline-block;
    margin:0;
}

#error {
    display:none;
    color:red;
    font-size:1.2rem;
    padding:1rem;
}

.tick, .cross, .edit, .savechange, .cancelchange {
    font-size:1rem;/*
    border:2px solid black;
    border-radius:1rem;
    padding:0.5rem;*/
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}

.tick:hover, .cross:hover, .edit:hover, .savechange:hover, .cancelchange:hover {
    background-color:grey;
}


.hidden {
    display:none;
}

footer {
    background:linear-gradient(to top, lightgrey, darkgrey);
    margin:0;
    padding:1rem;
    text-align:center;
    font-size:1.5rem;
}

@media screen and (max-width: 600px) {
    #cont {
        margin:1rem 0;
        width:100%;
    }
    span, input {
        width:100%;
        margin-left:auto;
        margin-right:auto;
    }

    .dis {
        display:block;
    }

    #addbut {
        margin-top:10px;
    }
}
